In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [22]:
%%time

train = pd.read_csv('Data/train.csv.zip')
p_train = pd.read_csv('Data/periods_train.csv.zip')
p_test = pd.read_csv('Data/periods_test.csv.zip')
test = pd.read_csv('Data/test.csv.zip')

train = pd.merge(train,p_train,on = ['item_id'],how = 'left')
test = pd.merge(test,p_test,on = ['item_id'],how = 'left')
df = pd.concat([train,test])
df.head()

CPU times: user 55.3 s, sys: 11.3 s, total: 1min 6s
Wall time: 1min 9s

In [107]:
df[df.activation_date == '2017-04-21']

Empty DataFrame
Columns: [activation_date, category_name, city, deal_probability, description, image, image_top_1, item_id, item_seq_number, param_1, param_2, param_3, parent_category_name, price, region, title, user_id, user_type, log_price, year, month, weekday, year_day, month_day]
Index: []

In [90]:
plt.scatter()

0    308496
1    302710
2    298651
3    288123
6    285157
4    264945
5    252038
Name: weekday, dtype: int64

In [55]:
df[df.price<=1] = 1
df['log_price'] = np.log10(df.price)

In [74]:
# extracting datetime features using datetime module 
df['activation_date'] = pd.to_datetime(df['activation_date'])
df["year"] = df["activation_date"].dt.year
df["month"] = df["activation_date"].dt.month
df['weekday'] = df['activation_date'].dt.weekday
df["month_day"] = df['activation_date'].dt.day
df["year_day"] = df['activation_date'].dt.dayofyear
df = df.drop_duplicates()
df = df[df.year >1970]

In [ ]:
df.activation_date

In [25]:
df.deal_probability[df.deal_probability<0.1].shape

(1054761,)

In [26]:
df.deal_probability[df.deal_probability==0].shape

(974618,)

In [34]:
df = df[df.price<7950101185]

In [36]:
df.price.max()

2000025000.0

In [44]:
df.price.quantile(.99)

4050000.0